h1 {
    font-family: "Bell MT";
    color: blue;
}
h2 {
    font-family: "Arial Narrow";
    color: chocolate;
}
div {
    background-color: beige;
    font-family: "Arial Narrow";
    color: black;
    height: 100px;
    width: 400px;
    margin: 10px;
}