#form div  {
    width:90px;
    margin:10px 0 0 20px;
    text-align:right;
    display:inline-block;
}

button {
    width:80px;
    margin:0 5px 0 0;
    text-align:center
}

#serverMessage  {
    height:60px;
    margin:40px 0 0 20px;
    font-weight:bold;
    font-size:1.5em;
}

td     {
    text-align:center;
    width : 100px;
}

table  {
    margin: 0 5px 0 90px
}